<div class="row-fluid">
  <form>
    <h3>Personal Data</h3>
    <hr>

    <div class="group form-horizontal">
      <div class="row">
        <div class="span3"></div>
        <div class="span6">
          <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
              <input type="text" placeholder="John Doe">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
              <input type="text" placeholder="johndoe@lost.com">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Skype</label>
            <div class="controls">
              <input type="text" placeholder="johndoe">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Phone</label>
            <div class="controls">
              <input type="text" placeholder="+54 2494 johndoe">
            </div>
          </div>
        </div>
      </div>
      <div class="span3"></div>
    </div>

    <h3>Experience</h3>
    <hr>

    <div class="group">
      <div class="row">
        <div class="span1"></div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Company Name</label>
            <div class="controls">
              <input type="text" placeholder="Panvidea">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Role</label>
            <div class="controls">
              <input type="text" placeholder="DevOps Team Lead">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Years of work</label>
            <div class="controls">
              <input type="text" placeholder="5 years">
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-toolbar options">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fui-plus-16"></i></a>
              <!-- <a class="btn btn-primary" href="#"><i class="fui-cross-16"></i></a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span2"></div>
        <div class="span8">
          <div class="control-group">
            <label class="control-label">Brief description of duties</label>
            <div class="controls">
              <input class="input-xxlarge" type="text" placeholder="Interviewed and selected team of 4 DevOps Engineers">
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-toolbar options">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fui-plus-16"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Education</h3>
    <hr>

    <div class="group">
      <div class="row">
        <div class="span1"></div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">University/Institute Name</label>
            <div class="controls">
              <input type="text" placeholder="UNICEN">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Degree Obtained</label>
            <div class="controls">
              <input type="text" placeholder="Software Engineering">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Year</label>
            <div class="controls">
              <input type="text" placeholder="2003">
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-toolbar options">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fui-plus-16"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Languages</h3>
    <hr>

    <div class="group">
      <div class="row">
        <div class="span1"></div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Language</label>
            <div class="controls">
              <input type="text" placeholder="English">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="mt25 dk_container span11 dk_shown dk_theme_default" id="dk_container_herolist" tabindex="1">
            <a class="dk_toggle">
              <span class="dk_label">Novice</span>
              <span class="select-icon"></span>
            </a>
            <div class="dk_options" style="top: 38px;">
              <ul class="dk_options_inner">
                <li class=""><a data-dk-dropdown-value="Novice">Novice</a></li>
                <li class=""><a data-dk-dropdown-value="Intermediate">Intermediate</a></li>
                <li class=""><a data-dk-dropdown-value="Expert">Expert</a></li>
                <li class=""><a data-dk-dropdown-value="Native">Native</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-toolbar options">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fui-plus-16"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Skills</h3>
    <hr>

    <div class="group">
      <div class="row">
        <div class="span1"></div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Skill</label>
            <div class="controls">
              <input type="text" placeholder="Ruby">
            </div>
          </div>
        </div>
        <div class="span3">
          <div class="control-group">
            <label class="control-label">Years of experience</label>
            <div class="controls">
              <input type="text" placeholder="ie: 2, < 1">
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="btn-toolbar options">
            <div class="btn-group">
              <a class="btn btn-primary" href="#"><i class="fui-plus-16"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

  <button type="submit" class="btn btn-large">save</button>
</div>