<h1>CV Template with Flat UI</h1>
<hr>

<div class="row-fluid">
  <div class="span12">
    <div class="palette palette-alizarin">Devspark</div>
  </div>
</div>
<br>
<h3>Personal Data</h3>
<hr>

<div class="row-fluid">
  <form class="form-horizontal">
    <div class="group">
      <div class="control-group">
        <div class="span6">
          <label class="control-label" for="inputEmail">Role</label>
        </div>
        <div class="span6">
          <input type="text" placeholder="Software Engineer">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Name</label>
        <div class="controls">
          <input type="text" placeholder="John Doe">
        </div>
      </div>
    </div>

  </form>

  <button type="submit" class="btn btn-large">Save CV</button>
</div>