// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
  background-color: #eceff1;
  border-radius: 6px;
  padding: 24px 23px 20px;
  position: relative;
  margin-bottom: 20px;  
}
