<!DOCTYPE html>
<html>
<head>
  <title>Devspark CV</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="navbar navbar-inverse">
    <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li>
          <a href="#">CV MANAGER</a>
        </li>
        <li class="active pull-right">
          <a href="#">
            Messages
            <span class="navbar-unread">1</span>
          </a>
          <ul>
            <li><a href="#">Element One</a></li>
            <li>
              <a href="#">Sub menu</a>
              <ul>
                <li><a href="#">Element One</a></li>
                <li><a href="#">Element Two</a></li>
                <li><a href="#">Element Three</a></li>
              </ul> <!-- /Sub menu -->
            </li>
            <li><a href="#">Element Three</a></li>
          </ul> <!-- /Sub menu -->
        </li>
        <li>
          <a href="#">
            About Us
            <span class="navbar-unread">1</span>
          </a>
        </li>
      </ul>
    </div>
    </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
    
</body>
</html>
